<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Merging</title>
    <%- include(process.cwd() +"/views/common/link.html") %>
    <link rel="stylesheet" href="../static/css/collapse.css" type="text/css">
</head>

<body class="w3-light-grey">
    <%- include(process.cwd() +"/views/common/menu_yang.html") %>
    <%- include(process.cwd() +"/views/common/header.html") %>

    <div class="container-sm">
        <% if (typeof dwSelected != undefined){ %>
            <div class="alert alert-success d-flex align-items-center alert-dismissible fade show col-md-8 "
                role="alert">
                <p>
                    <%- dwSelected[0] %> and <%- dwSelected[1] %> have been successfully merged.
                </p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% } %>
        

        <!--Database infos-->
        <% if (typeof userName != undefined){ %>
            <p class="fs-5">New data warehouse infos:</p>
            <div class="card mb-5" id="detail">
                <div class="card-body">
                    <div class="row">
                        <div class="col text-uppercase fw-bold float-end ">
                            name
                        </div>
                        <div class="col">
                            <%- userName %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-uppercase fw-bold float-end ">
                            dsn
                        </div>
                        <div class="col">
                            localhost/orcl
                        </div>
                    </div>
                </div>
            </div>
        <% } %>

        <% Object.entries(merging_schema).forEach(function(one_db){ 
            const [db_name, db_schema]=one_db%>
            <h5 class="mb-4">
                <i class="fa fa-cube w3-text-green w3-large"></i> <%- userName %> &emsp;
                <span class="badge bg-primary rounded-pill" name="noExpert">
                    <%- Object.keys(db_schema).length-1 %> Analysis Axis
                </span>
                <span class="badge bg-primary rounded-pill" name="expert" style="display: none;">
                    <%- Object.keys(db_schema).length-1 %> Dimensions
                </span>
                &emsp;&emsp;
                <span class="badge bg-primary rounded-pill" name="noExpert">
                    <% if (Object.keys(db_schema["Fact"]).length > 1){%>
                        <%- Object.keys(db_schema["Fact"]).length %> Subjects
                    <% } else {%>
                        <%- Object.keys(db_schema["Fact"]).length %> Subject
                    <% } %>
                </span>
                <span class="badge bg-primary rounded-pill" name="expert" style="display: none;">
                    <% if (Object.keys(db_schema["Fact"]).length > 1){%>
                        <%- Object.keys(db_schema["Fact"]).length %> Facts
                    <% } else {%>
                        <%- Object.keys(db_schema["Fact"]).length %> Fact
                    <% } %>
                </span>
            </h5>
        <% }) %>

        <!--Dimensions-->
        <p name="noExpert" class="fs-5">New axis infos:</p>
        <p name="expert" style="display: none;" class="fs-5">New dimensions infos:</p>
        <p name="hints">You can analyse your data with respect to these axis.</p>

        <p class="fw-bold fst-italic text-decoration-underline" name="expert-normal"
            style="display: none;color: #0275d8;">
            &#10004; Analysis form
        </p>
        <p class="fw-bold fst-italic text-decoration-underline" name="expert-more"
            style="display: none;color: grey;">
            &#x292C; Analysis form
        </p>

        <% Object.entries(merging_schema).forEach(function(one_db){ 
            const [db_name, db_schema]=one_db%>
            <!--Dimension-->
            <form action="javascript: void(0);"  >
                <nav id="dimension_nav">
                    <div class="nav nav-tabs" id="nav-tab-dim" role="tablist">
                        <% Object.entries(db_schema).forEach(([dim_name, dim_detail], index)=>{ %>
                            <% if (dim_name !="Fact" ) {%>
                                <% if (index==0) { %>
                                    <button class="nav-link active text-uppercase" id="nav-<%- db_name%>-<%- dim_name%>-tab"
                                        data-bs-toggle="tab" data-bs-target="#nav-<%- db_name%>-<%- dim_name%>" type="button"
                                        role="tab" aria-controls="#nav-<%- db_name%>-<%- dim_name%>" aria-selected="true">
                                        <span><%- dim_detail.Name %></span>
                                    </button>
                                <% } else { %>
                                    <button class="nav-link text-uppercase" id="nav-<%- db_name%>-<%- dim_name%>-tab"
                                        data-bs-toggle="tab" data-bs-target="#nav-<%- db_name%>-<%- dim_name%>" type="button"
                                        role="tab" aria-controls="#nav-<%- db_name%>-<%- dim_name%>" aria-selected="false">
                                        <%- dim_detail.Name %>
                                    </button>
                                <%}%>
                            <% } %> 
                        <%})%>
                    </div>
                </nav>

                <div class=" mb-2 overflow-scroll mb-3" style="height:300px ;">
                    <div class="tab-content mb-3" id="nav-tabContent-dim">
                        <% Object.entries(db_schema).forEach(([dim_name, dim_detail], index)=>{
                            if(dim_name != "Fact") {
                                if (index == 0) { %>
                                    <div class="tab-pane fade show active" id="nav-<%- db_name%>-<%- dim_name%>" role="tabpanel"
                                        aria-labelledby="nav-<%- db_name%>-<%- dim_name%>-tab" tabindex="0">
                                <% } else { %>
                                    <div class="tab-pane fade" id="nav-<%- db_name%>-<%- dim_name%>" role="tabpanel"
                                        aria-labelledby="nav-<%- db_name%>-<%- dim_name%>-tab" tabindex="0">
                                <% } %>

                                <input type="hidden" value="<%- db_name %>" name="dbName">
                                <table class="table table-hover table-responsive">
                                    <tr name="dimension">
                                        <th scope="col" style="width: 20%" name="noExpert">Axis <%- index+1 %></th>
                                        <th scope="col" style="width: 20%; display: none;"
                                            name="expert">Dimension <%- index+1 %></th>
                                        <td scope="row" class="text-uppercase fw-bold">
                                            <input class="form-control-plaintext text-uppercase" type="text"
                                                placeholder="Create a new name."
                                                value="<%- dim_detail.Name %>"
                                                name="dimName"
                                                readonly>
                                        </td>
                                    </tr>
                                    <% Object.entries(dim_detail).forEach(function(property){ 
                                        const [proper_name, proper_detail] = property%>
                                        <% if (proper_name == "Hierarchy" && proper_detail != "None" ) { %>
                                            <% Object.entries(proper_detail).forEach(([hie_name,hie_detail], index)=>{
                                                if (hie_detail.Type == "standard"){ %>
                                                    <tr name = "hierarchy">
                                                        <th scope="col" name="noExpert">
                                                            Analysis Vision <%- index+1 %>
                                                            <i width="30px" height="30px" viewBox="0 0 20 20" class="fa fa-info-circle"
                                                                data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true"
                                                                data-bs-title="In this axis, you have following analysis visions.">
                                                            </i>
                                                        </th>
                                                        <th scope="col" name="expert"
                                                            style="display: none;">Hierarchy <%- index+1 %>
                                                        </th>
                                                        <td class="text-uppercase">
                                                            <div class="row justify-content-between">
                                                                <div class="col-7">
                                                                    <input
                                                                        class="form-control-plaintext text-uppercase"
                                                                        type="text"
                                                                        placeholder="Create a new name."
                                                                        value="<%- hie_detail.Name%>"
                                                                        name="hieName"
                                                                        readonly>
                                                                </div>
                                                                <div class="col-2">
                                                                    <i class="fa fa-sort"></i>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <% Object.entries(hie_detail).forEach(function(hie_property){
                                                        const [hie_key, hie_value]=hie_property%>
                                                        <% if (hie_key=="Weak Attributes" ) { %>
                                                            <tr name="hieWeakAttributes" style="display: none;">
                                                                <th scope="col" name="noExpert">
                                                                    - Supplementary Information
                                                                    <i width="30px" height="30px" viewBox="0 0 20 20" class="fa fa-info-circle"
                                                                        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true"
                                                                        data-bs-title="The levels contain following supplementary information.">
                                                                    </i>
                                                                </th>
                                                                <th scope="col" name="expert"
                                                                    style="display: none;">- <%- hie_key%>
                                                                </th>
                                                                <td class="text-uppercase">
                                                                    <% Object.entries(hie_value).forEach(function(weak){
                                                                        const [key, weak_attri]=weak%>
                                                                        <%- key +": " + weak_attri%><br>
                                                                    <% }) %>
                                                                </td>
                                                            </tr>
                                                        <% } else if (hie_key=="Parameter" ){%>
                                                            <tr name=" hieParameter" style="display: none;">
                                                                <th scope="col" name="expert"
                                                                    style="display: none;">- <%- hie_key%>s
                                                                </th>
                                                                <th scope="col" name="noExpert">
                                                                    - Analysis Levels
                                                                    <i width="30px" height="30px" viewBox="0 0 20 20" class="fa fa-info-circle"
                                                                        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true"
                                                                        data-bs-title="In this vision, you have following analysis levels.">
                                                                    </i>
                                                                </th>
                                                                <td class="text-uppercase">
                                                                    <%- hie_value%>
                                                                </td>
                                                            </tr>
                                                        <% } %>
                                                    <% }) %>
                                                <% } else {%>
                                                    <tr name = "hierarchy-more" style="display: none;">
                                                        <th scope="col" name="expert" style="display: none;">
                                                            Hierarchy <%- index+1 %>
                                                        </th>
                                                        <td class="text-uppercase">
                                                            <div class="row justify-content-between">
                                                                <div class="col-7">
                                                                    <input
                                                                        class="form-control-plaintext text-uppercase"
                                                                        type="text"
                                                                        placeholder="Create a new name."
                                                                        value="<%- hie_detail.Name%>"
                                                                        name="hieName"
                                                                        readonly>
                                                                </div>
                                                                <div class="col-2">
                                                                    <svg width="20px" height="20px"
                                                                        viewBox="0 0 20 20"
                                                                        xmlns="http://www.w3.org/2000/svg">
                                                                        <path fill="#555"
                                                                            fill-rule="evenodd"
                                                                            d="M7.05307007,2.15808105 L14.2962587,9.41418482 C14.4320862,9.5496827 14.5,9.71077067 14.5,9.89744874 C14.5,10.0841268 14.4320862,10.2497803 14.2962587,10.3944092 C11.6760845,12.9498393 9.15095523,15.4168071 6.72087106,17.7953128 C6.5962677,17.912323 6.09560574,18.2032928 5.70989407,17.7705688 C5.3241824,17.3378448 5.55848694,16.9602509 5.70989407,16.8045692 C7.97174895,14.594209 10.3279004,12.2918355 12.7783485,9.89744874 L6.03100586,3.13816833 C5.78524099,2.79925826 5.80526899,2.48632792 6.09108986,2.19937732 C6.37691073,1.91242672 6.6975708,1.8986613 7.05307007,2.15808105 Z" />
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <% Object.entries(hie_detail).forEach(function(hie_property){
                                                        const [hie_key, hie_value]=hie_property%>
                                                        <% if (hie_key=="Weak Attributes" ) { %>
                                                            <tr name="hieWeakAttributes-more" style="display: none;">
                                                                <th scope="col" name="expert"
                                                                    style="display: none;">- <%- hie_key%>
                                                                </th>
                                                                <td class="text-uppercase">
                                                                    <% Object.entries(hie_value).forEach(function(weak){
                                                                        const [key, weak_attri]=weak%>
                                                                        <%- key +": " + weak_attri%><br>
                                                                    <% }) %>
                                                                </td>
                                                            </tr>
                                                        <% } else if (hie_key=="Parameter" ){%>
                                                            <tr name="hieParameter-more" style="display: none;">
                                                                <th scope="col" name="expert" style="display: none;">
                                                                    - <%- hie_key%>s
                                                                </th>
                                                                <td class="text-uppercase">
                                                                    <%- hie_value%>
                                                                </td>
                                                            </tr>
                                                        <% } %>
                                                    <% }) %>
                                                <% } %>
                                            <% }) %>
                                        <% } else if (proper_name=="Missing") { %>
                                        <% } else if(proper_name=="Total Record Number") {%>
                                        <% } else if(proper_name=="Attributes"){%>
                                            <tr name="attributes">
                                                <th scope="col">
                                                    <%- proper_name%>
                                                </th>
                                                <td
                                                    class="text-uppercase">
                                                    <%- proper_detail%>
                                                </td>
                                            </tr>
                                        <% } %>
                                    <% }) %>
                                </table>
                                </div>
                            <% } %>          
                        <% }) %>  
                    </div>
                </div>
        
                <button type="button" class="btn btn-primary mb-3" id="modifyDim">Modify</button>
                <button type="button" class="btn btn-primary mb-3" style="display: none;" id="saveDim--<%- db_name%>">Confirm</button>
            </form>

            <hr><br>

            <!--Facts-->
            <p name="noExpert" class="fs-5">New subjects infos:</p>
            <p name="expert" style="display: none;" class="fs-5">New facts infos:</p>
            <p name="hints">These are analysis subjects.</p>

            <nav id="fact_nav">
                <div class="nav nav-tabs" id="nav-tab-fact" role="tablist">
                    <% Object.entries(db_schema).forEach(([dim_name, dim_detail], index)=>{
                        if (dim_name =="Fact") {
                            const db_fact = dim_detail %>
                            <% Object.entries(db_fact).forEach(([fact_name, fact_detail], index)=>{
                                %>
                                <% if (index==0) { %>
                                    <button class="nav-link active text-uppercase"
                                        id="nav-factname1-tab" data-bs-toggle="tab"
                                        data-bs-target="#nav-factname1" type="button" role="tab"
                                        aria-controls="#nav-factname1" aria-selected="true">
                                        <%- fact_detail.Name%>
                                    </button>
                                <% } else { %>
                                    <button class="nav-link text-uppercase"
                                        id="nav-factname2-tab" data-bs-toggle="tab"
                                        data-bs-target="#nav-factname2" type="button" role="tab"
                                        aria-controls="#nav-factname2" aria-selected="false">
                                        <%- fact_detail.Name%>
                                    </button>
                                <% } %>
                            <%}) %>
                        <% }%>
                    <% })%>
                </div>
            </nav>

            <div class="overflow-scroll mb-3" style="height:200px ;">
                <div class="tab-content" id="nav-tabContent-fact">
                    <% Object.entries(db_schema).forEach(([dim_name, dim_detail], index)=>{
                        if (dim_name =="Fact") {
                            const db_fact = dim_detail %>
                            <% Object.entries(db_fact).forEach(([fact_name, fact_detail], index)=>{
                                if (index == 0) { %>
                                    <div class="tab-pane fade show active" id="nav-factname1"
                                    role="tabpanel" aria-labelledby="nav-factname1-tab" tabindex="0">
                                <% } else { %>
                                    <div class="tab-pane fade" id="nav-factname2" role="tabpanel"
                                            aria-labelledby="nav-factname2-tab" tabindex="0">
                                <% } %>
                                        <table class="table table-hover table-responsive">
                                            <tr>
                                                <th scope="col" style="width: 20%"
                                                    name="noExpert">Subject <%- index +1 %></th>
                                                <th scope="col"
                                                    style="width: 20%; display: none;"
                                                    name="expert">Fact <%- index +1 %></th>
                                                <td scope="row" class="text-uppercase fw-bold">
                                                    <input class="form-control-plaintext text-uppercase"
                                                        type="text"
                                                        placeholder="Create a new name."
                                                        value="<%- fact_detail.Name%>"
                                                        name="factName"
                                                        readonly>
                                                </td>
                                            </tr>
                                            <% Object.entries(fact_detail).forEach(function(property){
                                                const [proper_name, proper_detail]=property%>
                                                <%if (proper_name=="Indicators" ) { %>
                                                    <!--Measures-->
                                                    <tr>
                                                        <th scope="col" name="noExpert">
                                                            Indicators
                                                            <i width="30px" height="30px" viewBox="0 0 20 20" class="fa fa-info-circle"
                                                                data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true"
                                                                data-bs-title="In this subject, you have following indicators.">
                                                            </i>
                                                        </th>
                                                        <th scope="col" name="expert"
                                                            style="display: none;">Measures</th>
                                                        <td class="text-uppercase">
                                                            <%- proper_detail%>
                                                        </td>
                                                    </tr>
                                                <%} else if (proper_name=="Associations" ) { %>
                                                    <!--Dimension-->
                                                    <tr>
                                                        <th scope="col" name="noExpert">
                                                            Associated to
                                                            <i width="30px" height="30px" viewBox="0 0 20 20" class="fa fa-info-circle"
                                                                data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true"
                                                                data-bs-title="This subject can be analysed with respect to these axis.">
                                                            </i>
                                                        </th>
                                                        <th scope="col" name="expert"
                                                            style="display: none;">
                                                            Associated to</th>
                                                        <td class="text-uppercase">
                                                            <%- proper_detail%>
                                                        </td>
                                                    </tr>
                                                <% } %>
                                            <% }) %>
                                        </table>
                                    </div>
                            <% }) %>
                        <% }%>
                    <% })%>
                </div>
            </div>
            <button type="button" class="btn btn-primary mb-5" id="modifyFact">Modify</button>
            <button type="button" class="btn btn-primary mb-5" id="saveFact" style="display: none;">Confirm</button>
        <% }) %>
    </div>

    <%- include(process.cwd() +"/views/common/footer_yang.html") %>
    <script>
        $(document).ready(function(){
            // no expert version
            $("#noExpert").click(function () {
                $('th[name=expert]').hide()
                $('th[name=noExpert]').show()
                $('h5[name=expert]').hide()
                $('h5[name=noExpert]').show()
                $("p[name*='hints']").show()
                $("p[name*='expert']").hide()
                $('p[name=expert]').hide()
                $('p[name=noExpert]').show()
                $("tr[name='hierarchy-more']").hide()
                $('span[name=expert]').hide()
                $('span[name=noExpert]').show()
            })

            // expert version
            $("#expert").click(function () {
                $("p[name*='hints']").hide()
                $('th[name=noExpert]').hide()
                $('th[name=expert]').show()
                $('h5[name=noExpert]').hide()
                $('h5[name=expert]').show()
                $('p[name=noExpert]').hide()
                $('p[name=expert]').show()
                $('span[name=noExpert]').hide()
                $('span[name=expert]').show()
                $("p[name='expert-normal']").show()

                //to more
                $("p[name='expert-normal']").click(function () {
                    $(this).hide()
                    $("p[name='expert-more']").show()
                    $("tr[name='hierarchy-more']").show()
                })

                //to normal
                $("p[name='expert-more']").click(function () {
                    $(this).hide()
                    $("p[name='expert-normal']").show()
                    $("tr[name='hierarchy-more']").hide()
                })
            })

            if ( $("#select_version").prop("checked") ){
                $("p[name*='hints']").hide()
                $('th[name=noExpert]').hide()
                $('th[name=expert]').show()
                $('h5[name=noExpert]').hide()
                $('h5[name=expert]').show()
                $('p[name=noExpert]').hide()
                $('p[name=expert]').show()
                $('span[name=noExpert]').hide()
                $('span[name=expert]').show()
                $("p[name='expert-normal']").show()

                //to more
                $("p[name='expert-normal']").click(function () {
                    $(this).hide()
                    $("p[name='expert-more']").show()
                    $("tr[name='hierarchy-more']").show()
                })

                //to normal
                $("p[name='expert-more']").click(function () {
                    $(this).hide()
                    $("p[name='expert-normal']").show()
                    $("tr[name='hierarchy-more']").hide()
                })
            }

            // collapse hierarchy
            $("tr[name*='hierarchy']").click(function () {
                $(this).next().toggle()
                $(this).next().addClass("opencss")
                $(this).next().next().toggle()
                $(this).next().next().addClass("opencss")
                var icon = $(this).children().last().children().children().last().children()
                if (icon.hasClass("fa-sort")) {
                    icon.removeClass("fa-sort")
                    icon.addClass("fa-caret-up")
                } else {
                    icon.removeClass("fa-caret-up")
                    icon.addClass("fa-sort")
                }
            })
        
            // modify name
            $("button[id*='modify']").on("click",function(){
                $(this).hide()
                $(this).next().show()
                if ( $(this).attr("id").includes("Dim")){
                    $("input[name='hieName']").removeClass("form-control-plaintext")
                    $("input[name='hieName']").addClass("form-control")
                    $("input[name='hieName']").removeAttr("readonly")
                    $("input[name='dimName']").removeClass("form-control-plaintext")
                    $("input[name='dimName']").addClass("form-control")
                    $("input[name='dimName']").removeAttr("readonly")
                }else{
                    $("input[name='factName']").removeClass("form-control-plaintext")
                    $("input[name='factName']").addClass("form-control")
                    $("input[name='factName']").removeAttr("readonly")
                }
            })
            $("button[id*='save']").on("click", function(){
                $(this).hide()
                $(this).prev().show()
                var idname = $(this).attr("id")
                var button_div = $(this).parent().parent().parent().parent()
                dimlist = $('input[name="dimName"]')
                            .map(function() {
                                return $(this).val();
                            }).get()
                hielist = $('input[name="hieName"]')
                            .map(function() {
                                return $(this).val();
                            }).get()
                factlist = $('input[name="factName"]')
                            .map(function() {
                                return $(this).val();
                            }).get()

                $.ajax({   
                    url:'/merging/result',
                    method: 'PUT',
                    data: {
                        "dbname": $('input[name="dbName"]').val(),
                        "dimname": JSON.stringify(dimlist),
                        "hiename": JSON.stringify(hielist),
                        "factname": JSON.stringify(factlist),
                    },
                    success:function(data){
                        console.log("yes")
                        if ( idname.includes("Dim")){
                            $("input[name='hieName']").addClass("form-control-plaintext")
                            $("input[name='hieName']").removeClass("form-control")
                            $("input[name='hieName']").prop("readonly")
                            $("input[name='dimName']").addClass("form-control-plaintext")
                            $("input[name='dimName']").removeClass("form-control")
                            $("input[name='dimName']").prop("readonly")
                            $("#dimension_nav").load(window.location.href + " #dimension_nav")
                            $("#nav-tab-dim").children().first().click()
                        }else{
                            $("input[name='factName']").addClass("form-control-plaintext")
                            $("input[name='factName']").removeClass("form-control")
                            $("input[name='factName']").prop("readonly")
                            $("#fact_nav").load(window.location.href + " #fact_nav")
                            $("#nav-tab-fact").children().first().click()
                        }
                    }
                })

            })
    
            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
            const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
        })
        

    </script>
</body>

</html>