<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Merging</title>
    <%- include(process.cwd() +"/views/common/link.html") %>
    <link rel="stylesheet" href="../static/css/collapse.css" type="text/css">
    <link rel="stylesheet" href="../static/css/onoff.css">
</head>

<body class="w3-light-grey">
    <%- include(process.cwd() +"/views/common/menu_yang.html") %>
    <%- include(process.cwd() +"/views/common/header.html") %>
        <div class="container-sm">

            <form action="/merging/result" method="post" id="merging-form">
                <input type="hidden" class="form-control" name="viewStatus" value="noExpert">
                <p class="fs-5">Choose two databases to be merged: </p>

                <% Object.entries(all_schema).forEach(function(one_db){ 
                    const [db_name, db_schema]=one_db%>

                    <div class="form-check ">
                        <div class="form-check-inline ">
                            <input class="form-check-input" type="checkbox" value="<%- db_name %>" name="dwSelected"
                                id="flexCheckDefault<%- db_name %>">
                            <label class="form-check-label text-uppercase" for="flexCheckDefault<%- db_name %>">
                                <%- db_list[db_name].name %>
                            </label>
                        </div>
                        <button class="btn btn-secondary mb-3 btn-md " type="button" id="collapse<%- db_name %>">
                            Infos
                        </button>
                    </div>

                    <div class="card card-body mb-3" id="content<%- db_name %>" style="display: none;">
                        <!--data warehouse infos-->
                        <div class="card mb-5" id="detail">
                            <div class="card-body">
                                <h5 class="card-title">Database Infos</h5>
                                <div class="row">
                                    <div class="col text-uppercase fw-bold float-end ">
                                        name
                                    </div>
                                    <div class="col">
                                        <%- db_list[db_name].name %>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-uppercase fw-bold float-end ">
                                        dsn
                                    </div>
                                    <div class="col">
                                        <%- db_list[db_name].dsn %>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h5 class="mb-4">
                            <i class="fa fa-cube w3-text-green w3-large"></i> <%- db_list[db_name].name %> &emsp;
                            <span class="badge bg-primary rounded-pill" name="noExpert">
                                <%- Object.keys(db_schema).length-1 %> Analysis Axis
                            </span>
                            <span class="badge bg-primary rounded-pill" name="expert" style="display: none;">
                                <%- Object.keys(db_schema).length-1 %> Dimensions
                            </span>
                            &emsp;&emsp;
                            <span class="badge bg-primary rounded-pill" name="noExpert">
                                <% if (Object.keys(db_schema["Fact"]).length > 1){%>
                                    <%- Object.keys(db_schema["Fact"]).length %> Subjects
                                <% } else {%>
                                    <%- Object.keys(db_schema["Fact"]).length %> Subject
                                <% } %>
                            </span>
                            <span class="badge bg-primary rounded-pill" name="expert" style="display: none;">
                                <% if (Object.keys(db_schema["Fact"]).length > 1){%>
                                    <%- Object.keys(db_schema["Fact"]).length %> Facts
                                <% } else {%>
                                    <%- Object.keys(db_schema["Fact"]).length %> Fact
                                <% } %>
                            </span>
                        </h5>

                        <h5 name="noExpert" style="display: none;">You can analyse your data with respect to these <b><%- Object.keys(db_schema).length-1 %> axis</b>.</h5>
                        <h5 name="expert">You can analyse your data with respect to these <b><%- Object.keys(db_schema).length-1 %> dimensions</b>.</h5>
                        <br>

                        <!--Dimensions-->
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <% Object.entries(db_schema).forEach(([dim_name, dim_detail], index)=>{ %>
                                    <% if (dim_name !="Fact" ) {%>
                                        <% if (index==0) { %>
                                            <button class="nav-link active text-uppercase"
                                                id="nav-<%- db_name %>-<%- dim_name%>-tab" data-bs-toggle="tab"
                                                data-bs-target="#nav-<%- db_name %>-<%- dim_name%>" type="button"
                                                role="tab" aria-controls="#nav-<%- db_name %>-<%- dim_name%>"
                                                aria-selected="true">
                                                <%- dim_name %>
                                            </button>
                                        <% } else { %>
                                            <button class="nav-link text-uppercase"
                                                id="nav-<%- db_name %>-<%- dim_name%>-tab" data-bs-toggle="tab"
                                                data-bs-target="#nav-<%- db_name %>-<%- dim_name%>" type="button"
                                                role="tab" aria-controls="#nav-<%- db_name %>-<%- dim_name%>"
                                                aria-selected="false">
                                                <%- dim_name %>
                                            </button>
                                        <% } %>
                                    <% } %> 
                                <% }) %>
                            </div>
                        </nav>

                        <div class="overflow-auto mb-5" style="height:250px ;">
                            <div class="tab-content" id="nav-tabContent">
                                <% Object.entries(db_schema).forEach(([dim_name, dim_detail], index)=>{
                                    if(dim_name != "Fact") {
                                        if (index == 0) { %>
                                            <div class="tab-pane fade show active" id="nav-<%- db_name %>-<%- dim_name%>"
                                                role="tabpanel" aria-labelledby="nav-<%- db_name %>-<%- dim_name%>-tab"
                                                tabindex="0">
                                        <% } else { %>
                                            <div class="tab-pane fade" id="nav-<%- db_name %>-<%- dim_name%>"
                                                role="tabpanel" aria-labelledby="nav-<%- db_name %>-<%- dim_name%>-tab"
                                                tabindex="0">
                                        <% } %>
                                                <table class="table table-hover table-responsive">
                                                    <tr>
                                                        <th scope="col" style="width: 20%" name="noExpert">Axis <%- index +1 %></th>
                                                        <th scope="col" style="width: 20%; display: none;"
                                                            name="expert">Dimension <%- index +1 %></th>
                                                        <td scope="row" class="text-uppercase fw-bold">
                                                            <%- dim_name %>
                                                        </td>
                                                    </tr>
                                                    <% Object.entries(dim_detail).forEach(function(property){ const
                                                        [proper_name, proper_detail]=property%>
                                                        <% if (proper_name=="Hierarchy" && proper_detail !="None") { %>
                                                            <% Object.entries(proper_detail).forEach(([hie_name, hie_detail], index)=>{
                                                                if (hie_detail.Type == "standard"){ %>
                                                                    <tr name="hierarchy">
                                                                        <th scope="col" name="noExpert">
                                                                            Analysis Vision <%- index+1 %>
                                                                            <i width="30px" height="30px" viewBox="0 0 20 20" class="fa fa-info-circle"
                                                                                data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true"
                                                                                data-bs-title="In this axis, you have following analysis visions.">
                                                                            </i>
                                                                        </th>
                                                                        <th scope="col" name="expert" style="display: none;">
                                                                            Hierarchy <%- index+1%>
                                                                        </th>
                                                                        <td class="text-uppercase">
                                                                            <div class="row justify-content-between">
                                                                                <div class="col-4">
                                                                                    <%- hie_name%>
                                                                                </div>
                                                                                <div class="col-4">
                                                                                    <i class="fa fa-sort"></i>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <% Object.entries(hie_detail).forEach(function(hie_property){
                                                                        const [hie_key, hie_value]=hie_property%>
                                                                        <% if (hie_key == "Weak Attributes" ) { %>
                                                                            <tr name="hieWeakAttributes" style="display: none;">
                                                                                <th scope="col" name="noExpert">
                                                                                    - Supplementary information
                                                                                    <i width="30px" height="30px" viewBox="0 0 20 20" class="fa fa-info-circle"
                                                                                        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true"
                                                                                        data-bs-title="The levels contain following supplementary information.">
                                                                                    </i>
                                                                                </th>
                                                                                <th scope="col" name="expert" style="display: none;">
                                                                                    - <%- hie_key%>
                                                                                </th>
                                                                                <td class="text-uppercase">
                                                                                    <% Object.entries(hie_value).forEach(function(weak){
                                                                                        const [key, weak_attri]=weak%>
                                                                                        <%- key +": " + weak_attri%><br>
                                                                                    <% }) %>
                                                                                </td>
                                                                            </tr>
                                                                        <% } else if (hie_key == "Parameter" ) {%>
                                                                            <tr name="hieParameter" style="display: none;">
                                                                                <th scope="col" name="expert" style="display: none;">
                                                                                    - <%-hie_key%>s
                                                                                </th>
                                                                                <th scope="col" name="noExpert">
                                                                                    - Analysis Levels
                                                                                    <i width="30px" height="30px" viewBox="0 0 20 20" class="fa fa-info-circle"
                                                                                        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true"
                                                                                        data-bs-title="In this vision, you have following analysis levels.">
                                                                                    </i>
                                                                                </th>
                                                                                <td class="text-uppercase">
                                                                                    <%- hie_value%>
                                                                                </td>
                                                                            </tr>
                                                                        <% } %>
                                                                    <% }) %>
                                                                <% } %>
                                                            <% }) %>
                                                        <% } else if (proper_name=="Missing" ) { %>
                                                        <% } else if (proper_name=="Total Record Number" ) {%>
                                                        <% } else if (proper_name=="Attributes" ){%>
                                                            <tr name="attributes">
                                                                <th scope="col">
                                                                    <%- proper_name%>
                                                                </th>
                                                                <td class="text-uppercase">
                                                                    <%- proper_detail%>
                                                                </td>
                                                            </tr>
                                                        <% } %>
                                                    <% }) %>
                                                </table>
                                            </div>
                                    <% } %>
                                <% }) %>
                            </div>
                        </div>

                        <!--Fact-->
                        <h5 name="expert" style="display: none;">
                            <% if (Object.keys(db_schema["Fact"]).length > 1){%>
                                These are <b><%- Object.keys(db_schema["Fact"]).length %> subjects</b> for analysis.
                            <% } else {%>
                                This is <b><%- Object.keys(db_schema["Fact"]).length %> subject</b> for analysis.
                            <% } %>
                        </h5>
                        <h5 name="noExpert">
                            <% if (Object.keys(db_schema["Fact"]).length > 1){%>
                                These are <b><%- Object.keys(db_schema["Fact"]).length %> facts</b> for analysis.
                            <% } else {%>
                                This is <b><%- Object.keys(db_schema["Fact"]).length %> fact</b> for analysis.
                            <% } %>
                        </h5>
                        <br>

                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <div class="nav nav-tabs" id="nav-tab-fact" role="tablist">
                                    <% Object.entries(db_schema).forEach(([dim_name, dim_detail], index)=>{
                                        if (dim_name =="Fact") {
                                            const db_fact = dim_detail %>
                                            <% Object.entries(db_fact).forEach(([fact_name, fact_detail], index)=>{ %>
                                                <% if (index==0) { %>
                                                    <button class="nav-link active text-uppercase"
                                                        id="nav-<%- db_name%>-<%- fact_name%>-tab" data-bs-toggle="tab"
                                                        data-bs-target="#nav-<%- db_name %>-<%- fact_name%>"
                                                        type="button" role="tab"
                                                        aria-controls="#nav-<%- db_name %>-<%- fact_name%>"
                                                        aria-selected="true">
                                                        <%- fact_name%>
                                                    </button>
                                                <% } else { %>
                                                    <button class="nav-link text-uppercase"
                                                        id="nav-<%- db_name %>-<%- fact_name%>-tab"
                                                        data-bs-toggle="tab"
                                                        data-bs-target="#nav-<%- db_name %>-<%- fact_name%>"
                                                        type="button" role="tab"
                                                        aria-controls="#nav-<%- db_name %>-<%- fact_name%>"
                                                        aria-selected="false">
                                                        <%- fact_name%>
                                                    </button>
                                                <% } %>
                                            <%}) %>
                                        <% }%>
                                    <% })%>
                                </div>
                            </div>
                        </nav>

                        <div class="overflow-scroll mb-3" style="height:200px ;">
                            <div class="tab-content" id="nav-tabContent-fact">
                                <% Object.entries(db_schema).forEach(([dim_name, dim_detail], index)=>{
                                    if (dim_name =="Fact") {
                                        const db_fact = dim_detail %>
                                        <% Object.entries(db_fact).forEach(([fact_name, fact_detail], index)=>{
                                            if (index == 0) { %>
                                                <div class="tab-pane fade show active"
                                                    id="nav-<%- db_name %>-<%- fact_name%>" role="tabpanel"
                                                    aria-labelledby="nav-<%- db_name %>-<%- fact_name%>-tab" tabindex="0">
                                            <% } else { %>
                                                <div class="tab-pane fade" id="nav-<%- db_name %>-<%- fact_name%>"
                                                    role="tabpanel"
                                                    aria-labelledby="nav-<%- db_name %>-<%- fact_name%>-tab"
                                                    tabindex="0">
                                            <% } %>
                                                    <table class="table table-hover table-responsive">
                                                        <tr>
                                                            <th scope="col" style="width: 20%" name="noExpert">
                                                                Subject <%- index + 1 %></th>
                                                            <th scope="col" style="width: 20%; display: none;"
                                                                name="expert">Fact <%- index + 1 %></th>
                                                            <td scope="row" class="text-uppercase fw-bold">
                                                                <%- fact_name%>
                                                            </td>
                                                        </tr>

                                                        <% Object.entries(fact_detail).forEach(function(property){
                                                            const [proper_name, proper_detail]=property%>
                                                            <%if (proper_name=="Indicators" ) { %>
                                                                <!--Measures-->
                                                                <tr>
                                                                    <th scope="col" name="noExpert">
                                                                        Indicators
                                                                        <i width="30px" height="30px" viewBox="0 0 20 20" class="fa fa-info-circle"
                                                                            data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true"
                                                                            data-bs-title="In this subject, you have following indicators.">
                                                                        </i>
                                                                    </th>
                                                                    <th scope="col" name="expert" style="display: none;">
                                                                        Measures
                                                                    </th>
                                                                    <td class="text-uppercase">
                                                                        <%- proper_detail%>
                                                                    </td>
                                                                </tr>
                                                                <!--Dimension-->
                                                                <%} else if (proper_name=="Associations" ) { %>
                                                                    <tr>
                                                                        <th scope="col" name="noExpert">
                                                                            Associated to
                                                                            <i width="30px" height="30px" viewBox="0 0 20 20" class="fa fa-info-circle"
                                                                                data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true"
                                                                                data-bs-title="This subject can be analysed with respect to these axis.">
                                                                            </i>
                                                                        </th>
                                                                        <th scope="col" name="expert" style="display: none;">
                                                                            Associated to
                                                                        </th>
                                                                        <td class="text-uppercase">
                                                                            <%- proper_detail%>
                                                                        </td>
                                                                    </tr>
                                                            <% } %>
                                                        <% }) %>

                                                    </table>
                                                </div>
                                        <% }) %>
                                    <% }%>
                                <% })%>
                            </div>
                        </div>
                        </div>
                <% }) %>

                <div id="warning"></div>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" id="next">
                    Merge
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1"
                    aria-labelledby="exampleModalLabel" aria-hidden="true" name="modalInfos">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div id="test"></div>
                                <div>
                                    <p>Please create your new data warehouses :</p>
                                    <p>*user name and password can not cantain blank.</p>
                                    <div class="mb-3 row">
                                        <label for="createUser" class="col-sm-4 col-form-label">User
                                            Name<span style="color: red;">*</span></label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="createUser"
                                                name="userName" pattern="^\S+$">
                                        </div>
                                    </div> 
                                    <div class="mb-3 row">
                                        <label for="createPassword"
                                            class="col-sm-4 col-form-label">Enter
                                            Password<span style="color: red;">*</span></label>
                                        <div class="col-sm-6">
                                            <input type="password" class="form-control"
                                                id="createPassword" name="password" pattern="^\S+$">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label for="confirmPassword"
                                            class="col-sm-4 col-form-label">Confirm
                                            Password<span style="color: red;">*</span></label>
                                        <div class="col-sm-6">
                                            <input type="password" class="form-control"
                                                id="confirmPassword" pattern="^\S+$">
                                        </div>
                                    </div>
                                    <span id="message"></span>
                                    <p>
                                        <span id="fillmes"></span>
                                    </p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">No</button>
                                <button type="submit" class="btn btn-primary">Yes</button>
                            </div>
                        </div>
                    </div>
                </div>
                        </div>

                
                
            </form>
        </div>
        <%- include(process.cwd() +"/views/common/footer_yang.html") %>
            <script>
                $(document).ready(function () {
                    var nb_limit = 2

                    //accordion
                    $('[id^=collapse]').click(function () {
                        console.log($(this).attr('id'))
                        $(this).parent().next().toggle();
                    })

                    // condition to choose database
                    $('input:checkbox').change(function () {
                        if ($("input[name='dwSelected']:checked").length < nb_limit) {
                            if (typeof $("#next").attr("data-bs-target") !== 'undefined' || $("#next").attr("data-bs-target") != false) {
                                $("#next").removeAttr("data-bs-target")
                                console.log($("#next").attr("data-bs-target"))
                            }
                        } else {
                            if (typeof $("#next").attr("data-bs-target") === 'undefined' || $("#next").attr("data-bs-target") == false) {
                                $("#next").attr("data-bs-target", "#exampleModal")
                            }
                        }
                    });

                    //condition to show modal
                    $("#next").click(function () {
                        if ($("input[name='dwSelected']:checked").length < 2) {
                            if ($("#warning").html() === "") {
                                if (typeof $("#next").attr("data-bs-target") !== 'undefined' || $("#next").attr("data-bs-target") != false) {
                                    $("#next").removeAttr("data-bs-target")
                                    console.log($("#next").attr("data-bs-target"))
                                }
                                $("#warning").append('<div class="alert alert-danger alert-dismissible fade show col-md-6 col-md-offset-6" role="alert">' +
                                    '<strong>Please choose two data warehouses.</strong>' +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>' +
                                    '</div>')
                            }
                        } else {
                            $("#warning").html("")
                            if (typeof $("#next").attr("data-bs-target") === 'undefined' || $("#next").attr("data-bs-target") == false) {
                                $("#next").attr("data-bs-target", "#exampleModal")
                            }
                        }

                    })

                    //refresh modal
                    $("#next").click(function () {
                        console.log("input[name='dwSelected']:checked".length)
                        if ($("input[name='dwSelected']:checked").length == nb_limit) {
                            var allVals = [];
                            $("#test").html("");
                            $("#test").append("<p>The following data warehouses will be completed :</p>")
                            $('input:checkbox[name=dwSelected]:checked').each(function () {
                                $("#test").append("<p>" + $(this).val() + "</p>")
                            })
                        } else {
                            $("#warning").html("")
                            $("#warning").append('<div class="alert alert-danger alert-dismissible fade show col-md-6 col-md-offset-6" role="alert">' +
                                '<strong>Please choose two data warehouses.</strong>' +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>' +
                                '</div>')
                        }
                    })

                    
                    //check password
                    $("#createPassword, #confirmPassword").keyup(function () {
                        //check password
                        if ($('#createPassword').val() == $('#confirmPassword').val() && $('#createPassword').val() !== "") {
                            $('#message').html('Correct password.').css('color', 'green');
                        } else if ($('#confirmPassword').val() != "") {
                            $('#message').html('Please try again.').css('color', 'red');
                        }
                    })

                    //check if fill up all input
                    $("#merging-form").submit(function(event){
                        if($('#message').html() == 'Correct password.'){
                            if($("#createUser").val() == "" || $("#createPassword").val() == "" || $("#confirmPassword").val() == ""){
                                event.preventDefault(); 
                                $('#fillmes').html( "Please fill up all form." ).css('color', 'red').show().fadeOut( 1500 );
                                
                            }else{
                                return;
                            }
                        }else{
                            event.preventDefault();
                            $('#fillmes').html( "Please type correct password." ).css('color', 'red').show().fadeOut( 1500 );
                        }
                    })


                    //choose 2 database maximum
                    $('input:checkbox[name=dwSelected]').on('change', function (evt) {
                        if ($("input[name='dwSelected']:checked").length > nb_limit) {
                            $(this).prop('checked', false);
                            $("#warning").append('<div class="alert alert-warning alert-dismissible fade show col-md-6 col-md-offset-6" role="alert">' +
                                '<strong>Only two data warehouses can be chosen at a time!</strong>' +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>' +
                                '</div>')

                        }
                    })

                    // no expert version
                    $("#noExpert").click(function () {
                        $('th[name=expert]').hide()
                        $('h5[name=expert]').hide()
                        $('span[name=expert]').hide()
                        $('th[name=noExpert]').show()
                        $('h5[name=noExpert]').show()
                        $('span[name=noExpert]').show()
                        //$("p[name*='hints']").show()
                        $("input[name=viewStatus]").val("noExpert")
                    })

                    // expert version
                    $("#expert").click(function () {
                        //$("p[name*='hints']").hide()
                        $('th[name=noExpert]').hide()
                        $('h5[name=noExpert]').hide()
                        $('span[name=noExpert]').hide()
                        $('th[name=expert]').show()
                        $('h5[name=expert]').show()
                        $('span[name=expert]').show()
                        $("input[name=viewStatus]").val("expert")
                    })

                    if ( $("#select_version").prop("checked") ){
                        $("p[name*='hints']").hide()
                        $('th[name=noExpert]').hide()
                        $('th[name=expert]').show()
                        $('span[name=noExpert]').hide()
                        $('span[name=expert]').show()
                        $("input[name=viewStatus]").val("expert")
                    }

                    // hierarchy layout
                    $("tr[name='hierarchy']").click(function () {
                        $(this).next().toggle()
                        $(this).next().addClass("opencss")
                        $(this).next().next().toggle()
                        $(this).next().next().addClass("opencss")
                        var icon = $(this).children().last().children().children().last().children()
                        if (icon.hasClass("fa-sort")) {
                            icon.removeClass("fa-sort")
                            icon.addClass("fa-caret-up")
                        } else {
                            icon.removeClass("fa-caret-up")
                            icon.addClass("fa-sort")
                        }
                        // if (icon.hasClass("rotated")) {
                        //     icon.removeClass("rotated")
                        // } else {
                        //     icon.addClass("rotated")
                        // }

                    })

                })

                const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
                const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

            </script>
</body>
</html>